---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h1>Journals</h1>
<hr>
<h2>2024</h2>
<p><b>Ahmadi K</b>, Pereira JB, van Westen D, Pasternak O, Zhang F, Nilsson M, Stomrud E, Spotorno N, Hansson O. Fixel-based analysis reveals tau-related white matter changes in early stages of Alzheimer's disease. Journal of Neuroscience. 2024 May 1;44(18).<a href="https://www.jneurosci.org/content/44/18/e0538232024.abstract">[Paper]</a></p>

<h2>2023</h2>
<p>Molz B, Herbik A, Baseler HA, de Best P, Raz N, Gouws A, <b>Ahmadi K</b>, Lowndes R, McLean RJ, Gottlob I, Kohl S. Achromatopsia—Visual Cortex Stability and Plasticity in the Absence of Functional Cones. Investigative Ophthalmology & Visual Science. 2023 Oct 3;64(13):23-.<a href="https://iovs.arvojournals.org/article.aspx?articleid=2792930">[Paper]</a></p>

<p>Cicognola C, Mattsson-Carlgren N, van Westen D, Zetterberg H, Blennow K, Palmqvist S, <b>Ahmadi K</b>, Strandberg O, Stomrud E, Janelidze S, Hansson O. Associations of CSF PDGFRβ with aging, blood-brain barrier damage, Neuroinflammation, and Alzheimer disease pathologic changes. Neurology. 2023 Jul 4;101(1):e30-9.<a href="https://www.neurology.org/doi/full/10.1212/WNL.0000000000207358">[Paper]</a></p>

<p><b>Ahmadi K</b>, Pereira JB, Berron D, Vogel J, Ingala S, Strandberg OT, Janelidze S, Barkhof F, Pfeuffer J, Knutsson L, van Westen D. Gray matter hypoperfusion is a late pathological event in the course of Alzheimer’s disease. Journal of Cerebral Blood Flow & Metabolism. 2023 Apr;43(4):565-80.<a href="https://journals.sagepub.com/doi/full/10.1177/0271678X221141139">[Paper]</a></p>

<h2>2022</h2>
<p>Molz B, Herbik A, Baseler HA, de Best PB, Vernon RW, Raz N, Gouws AD, <b>Ahmadi K</b>, Lowndes R, McLean RJ, Gottlob I. Structural changes to primary visual cortex in the congenital absence of cone input in achromatopsia. NeuroImage: Clinical. 2022 Jan 1;33:102925.<a href="https://www.sciencedirect.com/science/article/pii/S2213158221003697">[Paper]</a></p>

<h2>2021</h2>
<p>Puzniak RJ, McPherson B, <b>Ahmadi K</b>, Herbik A, Kaufmann J, Liebe T, Gouws A, Morland AB, Gottlob I, Hoffmann MB, Pestilli F. CHIASM, the human brain albinism and achiasma MRI dataset. Scientific data. 2021 Nov 26;8(1):308.
<a href="https://www.nature.com/articles/s41597-021-01080-w">[Paper]</a></p>

<p>Lowndes R, Molz B, Warriner L, Herbik A, De Best PB, Raz N, Gouws A, <b>Ahmadi K</b>, McLean RJ, Gottlob I, Kohl S. Structural differences across multiple visual cortical regions in the absence of cone function in congenital achromatopsia. Frontiers in Neuroscience. 2021 Oct 14;15:718958.<a href="https://www.frontiersin.org/journals/neuroscience/articles/10.3389/fnins.2021.718958/full">[Paper]</a></p>

<h2>2020</h2>
<p><b>Ahmadi K,</b> Fracasso A, Puzniak RJ, Gouws AD, Yakupov R, Speck O, Kaufmann J, Pestilli F, Dumoulin SO, Morland AB, Hoffmann MB. Triple visual hemifield maps in a case of optic chiasm hypoplasia. NeuroImage. 2020 Jul 15;215:116822.
<a href="https://www.sciencedirect.com/science/article/pii/S1053811920303098">[Paper]</a></p>

<p>Carvalho J, Invernizzi A, <b>Ahmadi K</b>, Hoffmann MB, Renken RJ, Cornelissen FW. Micro-probing enables fine-grained mapping of neuronal populations using fMRI. Neuroimage. 2020 Apr 1;209:116423.
<a href="https://www.sciencedirect.com/science/article/pii/S1053811919310146">[Paper]</a></p>

<h2>2019</h2>
<p><b>Ahmadi K</b>, Herbik A, Wagner M, Kanowski M, Thieme H, Hoffmann MB. Population receptive field and connectivity properties of the early visual cortex in human albinism. Neuroimage. 2019 Nov 15;202:116105.
<a href="https://www.sciencedirect.com/science/article/abs/pii/S1053811919306962">[Paper]</a></p>

<p>Eick CM, <b>Ahmadi K</b>, Sweeney-Reed CM, Hoffmann MB. Interocular transfer of visual memory–Influence of visual impairment and abnormalities of the optic chiasm. Neuropsychologia. 2019 Jun 1;129:171-8.
<a href="https://www.sciencedirect.com/science/article/abs/pii/S0028393218304718">[Paper]</a></p>

<p><b>Ahmadi K</b>, Fracasso A, van Dijk JA, Kruijt C, van Genderen M, Dumoulin SO, Hoffmann MB. Altered organization of the visual cortex in FHONDA syndrome. NeuroImage. 2019 Apr 15;190:224-31.
<a href="https://www.sciencedirect.com/science/article/abs/pii/S1053811918301605">[Paper]</a></p>

<p>Puzniak RJ, <b>Ahmadi K</b>, Kaufmann J, Gouws A, Morland AB, Pestilli F, Hoffmann MB. Quantifying nerve decussation abnormalities in the optic chiasm. Neuroimage Clin 24: 102055.
<a href="https://www.sciencedirect.com/science/article/pii/S2213158219304024">[Paper]</a></p>

<h2>2017</h2>
<p>Arngrim N, Hougaard A, <b>Ahmadi K</b>, Vestergaard MB, Schytz HW, Amin FM, Larsson HB, Olesen J, Hoffmann MB, Ashina M. Heterogenous migraine aura symptoms correlate with visual cortex functional magnetic resonance imaging responses. Annals of Neurology. 2017 Dec;82(6):925-39.
<a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/ana.25096">[Paper]</a></p>

<p>Hoffmann MB, Thieme H, <b>Ahmadi K</b>. Potential of fMRI for the Functional Assessment of the
Pathological Visual System. Klinische Monatsblätter für Augenheilkunde. 2017 Mar;234(03):303-10.
<a href="https://www.thieme-connect.com/products/ejournals/abstract/10.1055/s-0043-103960">[Paper]</a></p>


<h2>2015</h2>
<p><b>Ahmadi K</b>, Pouretemad HR, Esfandiari J, Yoonessi A, Yoonessi A. Psychophysical evidence for impaired Magno, Parvo, and Konio-cellular pathways in dyslexic children. Journal of ophthalmic & vision research. 2015 Oct;10(4):433.
<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4795394/">[Paper]</a></p>


<h1>Conferences</h1>
<hr>
<h2>2024</h2>
<p><b>Ahmadi, K.</b>, Stawarczyk, D., Pfaffenrot, V., Gomes, C. A., Kashyap, S., Patai, Z., Norris, D. G., Axmacher, N.
(2024). Laminar profiles of hippocampal subfields are differentially associated with navigation strategies. Organization for Human Brain Mapping (OHBM), Seoul, south Korea.</p>

<p>Rau, E. M. B., Herweg, N. A., Heinen, R., <b>Ahmadi, K.</b>, Axmacher, N. (2024). Functions of the medial temporal lobe
in memory and navigation of abstract conceptual spaces. Federation of European Neuroscience Societies (FENS),
Vienna, Austria.</p>

<p>Kashyap, S., Gomes, C. A., <b>Ahmadi, K.</b>, Axmacher, N., Uludag, K. (2024). A new proposed workflow for processing high spatial resolution MRI data with multiple sessions. Cognitive Computational Neuroscience (CCN), Boston
, USA.</p>



<h2>2023</h2>
<h2>2022</h2>
<h2>2021</h2>
<h2>2020</h2>
<h2>2019</h2>
<h2>2018</h2>
<h2>2017</h2>



{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



