---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h1>Main Headline (h1)</h1>
    <p>This is a paragraph under the main headline.</p>

    <h2>Subheading 1 (h2)</h2>
    <p>This is some content under the first subheading.</p>

    <h3>Subheading 2 (h3)</h3>
    <p>This is some content under the second subheading.</p>

    <h4>Sub-subheading (h4)</h4>
    <p>This is some content under the sub-subheading.</p>

    <h5>Lower-level heading (h5)</h5>
    <p>This is content under a lower-level heading.</p>

    <h6>Lowest-level heading (h6)</h6>
    <p>This is content under the lowest-level heading.</p>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



