---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<h1>Journals</h1>
<hr>
<h2>2024</h2>
<p><b>Ahmadi K</b>, Pereira JB, van Westen D, Pasternak O, Zhang F, Nilsson M, Stomrud E, Spotorno N, Hansson O. Fixel-based analysis reveals tau-related white matter changes in early stages of Alzheimer's disease. Journal of Neuroscience. 2024 May 1;44(18).<a href="https://www.jneurosci.org/content/44/18/e0538232024.abstract">[Paper]</a></p>

<h2>2023</h2>
<p>Molz B, Herbik A, Baseler HA, de Best P, Raz N, Gouws A, <b>Ahmadi K</b>, Lowndes R, McLean RJ, Gottlob I, Kohl S. Achromatopsia—Visual Cortex Stability and Plasticity in the Absence of Functional Cones. Investigative Ophthalmology & Visual Science. 2023 Oct 3;64(13):23-.<a href="https://iovs.arvojournals.org/article.aspx?articleid=2792930">[Paper]</a></p>

<p>Cicognola C, Mattsson-Carlgren N, van Westen D, Zetterberg H, Blennow K, Palmqvist S, <b>Ahmadi K</b>, Strandberg O, Stomrud E, Janelidze S, Hansson O. Associations of CSF PDGFRβ with aging, blood-brain barrier damage, Neuroinflammation, and Alzheimer disease pathologic changes. Neurology. 2023 Jul 4;101(1):e30-9.<a href="https://www.neurology.org/doi/full/10.1212/WNL.0000000000207358">[Paper]</a></p>

<p><b>Ahmadi K</b>, Pereira JB, Berron D, Vogel J, Ingala S, Strandberg OT, Janelidze S, Barkhof F, Pfeuffer J, Knutsson L, van Westen D. Gray matter hypoperfusion is a late pathological event in the course of Alzheimer’s disease. Journal of Cerebral Blood Flow & Metabolism. 2023 Apr;43(4):565-80.<a href="https://journals.sagepub.com/doi/full/10.1177/0271678X221141139">[Paper]</a></p>

<h2>2022</h2>
<p>Molz B, Herbik A, Baseler HA, de Best PB, Vernon RW, Raz N, Gouws AD, <b>Ahmadi K</b>, Lowndes R, McLean RJ, Gottlob I. Structural changes to primary visual cortex in the congenital absence of cone input in achromatopsia. NeuroImage: Clinical. 2022 Jan 1;33:102925.<a href="https://www.sciencedirect.com/science/article/pii/S2213158221003697">[Paper]</a></p>

<h2>2021</h2>
<p>Puzniak RJ, McPherson B, <b>Ahmadi K</b>, Herbik A, Kaufmann J, Liebe T, Gouws A, Morland AB, Gottlob I, Hoffmann MB, Pestilli F. CHIASM, the human brain albinism and achiasma MRI dataset. Scientific data. 2021 Nov 26;8(1):308.
<a href="https://www.nature.com/articles/s41597-021-01080-w">[Paper]</a></p>

<p>Lowndes R, Molz B, Warriner L, Herbik A, De Best PB, Raz N, Gouws A, Ahmadi K, McLean RJ, Gottlob I, Kohl S. Structural differences across multiple visual cortical regions in the absence of cone function in congenital achromatopsia. Frontiers in Neuroscience. 2021 Oct 14;15:718958.<a href="https://www.frontiersin.org/journals/neuroscience/articles/10.3389/fnins.2021.718958/full">[Paper]</a></p>

<h1>Conferences</h1>
<hr>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



