---
layout: archive
title: "Talks "
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>2025</h2>
<p><b>''Laminar fMRI with VASO in human hippocampus''</b>
<br>ISMRM 2025, Hawaii, USA (<a href="https://www.youtube.com/watch?v=YULfvhDWKMA&t=347s" target="_blank">YouTube Link</a>)</p>

<h2>2024</h2>
<p><b>''Deep dive into hippocampus from a laminar perspective''</b>
<br>layer-fMRI working group meeting, NIH, Bethesda, USA (<a href="https://www.youtube.com/watch?v=_GXW5XUgz74" target="_blank">YouTube Link</a>)</p>

<p><b>''Laminar profile of hippocampal subregions during spatial navigation''</b>
<br>International Society for Magnetic Resonance in Medicin (ISMRM), Singapore, Singapore</p>

<h2>2022</h2>
<p><b>''Tau accumulation is associated with fiber-specific white matter degeneration in Alzheimer’s
disease''</b>
<br>International Society for Magnetic Resonance in Medicine(ISMRM), London, England</p>

<p><b>''Disentangling fiber-specific white matter alterations in relation to hallmarks of Alzheimer’s
disease''</b>
<br>Alzheimer’s Disease and Parkinson’s Disease (ADPD), Barcelona, Spain</p>

<h2>2021</h2>
<p><b>''Altered cerebral blood perfusion in Alzheimer’s disease spectrum and its association with
amyloid-𝛽 and tau pathology''</b>
  <br>Alzheimer’s Disease and Parkinson’s Disease (ADPD), Virtual conference</p>

<h2>2018</h2>
<p><b>''Macroscopic and mesoscopic cortical organization in congenital visual pathway abnormalities''</b>
  <br>Brain-in-depth (BID) - Symposium on layer-dependent MRI, German Center for Neurodegenerative Diseases
(DZNE), Magdeburg, Germany</p>

<p><b>''Altered organization of the visual cortex in FHONDA syndrome''</b>
  <br>4th European Days of Albinism, Hurdal Vision and Activity Center, Oslo, Norway</p>

<h2>2016</h2>
<p><b>''Altered retino-cortical connections and visual cortex reorganization in the recently discovered
FHONDA syndrome''</b> 
  <br>Society for neuroscience (SfN), San Diego, USA</p>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
